// .font-eng{
//     font-family: "Archivo Black", sans-serif;
// }
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'DM Sans', 'Pretendard', sans-serif;
  font-size: 10px;
  line-height: 1.2;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
.mt-auto{
    margin-top: auto;
}
//main
#app{
    background-color: #fff;
    color: #000;
}
.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.sec-title{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.07rem;
    margin-bottom: 3rem;
}

main{
    > section{
        padding-top: 7.8rem;
        .container{
            height: 100%;
            padding: 5rem;
        }
    }
    
}
.section{
    &-title{
        font-weight: 700;
        font-size: 10rem;
    }
    &-main{
        .container-fluid{
            display: flex;
            flex-direction: column;
        }
        
        .main-title{
            .main-logo-img{
                display: block;
                width: 100%;
            }
        }
        .main-info{
            padding-top: 7.5rem;
            font-size: 2.5rem;
            font-weight: 700;
            letter-spacing: -1px;
        }
        .main-foot{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 2rem;
            margin-top: auto;
        } 
    }
    // &-about{
        
        
    // }
    &-works{
        padding-top:12rem;
        
    }
}
