@import url('https://cdnjs.cloudflare.com/ajax/libs/pretendard/1.3.9/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import '@/assets/scss/layout.scss';
@import '@/assets/scss/pages/about.scss';
@import '@/assets/scss/pages/projects.scss';
@import '@/assets/scss/pages/projectslist.scss';
// @import '@/assets/scss/pages/projectsdetail.scss';
