// _variables.scss

// --- Colors ---
$c-bg-white: #ffffff;
$c-bg-gray: #f4f4f4;
$c-bg-dark: #111111;

$c-text-primary: #000000;
$c-text-secondary: #333333;
$c-text-tertiary: #666666;

$c-line-weak: #e5e5e5; // 보조 라인
// --- Fonts ---
//$f-mono: 'Roboto Mono', monospace; // 숫자, 라벨용

// --- Layout & Spacing ---
$max-width: 1200px;
$max-width-wide: 1400px;

$p-section: 120px 0; // 기본 섹션 패딩
$p-container: 40px; // 데스크탑 컨테이너 좌우 패딩
$p-container-m: 20px; // 모바일 컨테이너 좌우 패딩

// --- Breakpoints ---
$bp-tablet: 1024px;
$bp-mobile: 768px;
